{
  "presets": [
    [
      "@babel/preset-env",
      {
        // 按需注入
        "useBuiltIns": "usage",
        "corejs": 2 // 这里需要注意：是根据你的版本来写
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ],
    ["@babel/plugin-proposal-class-properties"],
    ["react-hot-loader/babel"] // react热重载(修改局部刷新)
  ]
}
